In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid_19_data.csv")

In [3]:
df.shape

(306429, 8)

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(228329, 8)

In [10]:
df = df[df["Country/Region"]=="India"]

In [11]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
39260,39261,06/10/2020,Andaman and Nicobar Islands,India,2021-04-02 15:13:53,33.0,0.0,33.0
39261,39262,06/10/2020,Andhra Pradesh,India,2021-04-02 15:13:53,5070.0,77.0,2802.0
39277,39278,06/10/2020,Arunachal Pradesh,India,2021-04-02 15:13:53,57.0,0.0,1.0
39278,39279,06/10/2020,Assam,India,2021-04-02 15:13:53,2937.0,4.0,1085.0
39300,39301,06/10/2020,Bihar,India,2021-04-02 15:13:53,5459.0,32.0,2864.0
...,...,...,...,...,...,...,...,...
306351,306352,05/29/2021,Tripura,India,2021-05-30 04:20:55,50739.0,507.0,43190.0
306366,306367,05/29/2021,Unknown,India,2021-05-30 04:20:55,0.0,0.0,0.0
306377,306378,05/29/2021,Uttar Pradesh,India,2021-05-30 04:20:55,1688152.0,20208.0,1621743.0
306378,306379,05/29/2021,Uttarakhand,India,2021-05-30 04:20:55,327112.0,6360.0,289642.0
306406,306407,05/29/2021,West Bengal,India,2021-05-30 04:20:55,1354956.0,15268.0,1237290.0